# `ratar` tutorial

This is an introduction on how to use the `ratar` "package" so far...

- Import packages
- Set binding site files
- Encode binding sites
- Explore encoded binding site
- Compare binding sites

In [1]:
%load_ext autoreload
%autoreload 2

## Import packages

In [2]:
import glob
from pathlib import Path

import pandas as pd

In [3]:
HERE = Path(_dh[-1])
DATA = HERE / "../../ratar/tests/data"

## Set binding site files

In [4]:
input_path = str(DATA / "*.mol2")
input_path_list = glob.glob(input_path)
input_path_list = input_path_list[:5]
input_path_list

['/Users/dominique/Documents/GitHub/ratar/docs/tutorials/../../ratar/tests/data/AAK1_4wsq_altA_chainB.mol2',
 '/Users/dominique/Documents/GitHub/ratar/docs/tutorials/../../ratar/tests/data/scpdb_egfr_20190128.mol2',
 '/Users/dominique/Documents/GitHub/ratar/docs/tutorials/../../ratar/tests/data/scpdb_1a5s1.mol2',
 '/Users/dominique/Documents/GitHub/ratar/docs/tutorials/../../ratar/tests/data/AAK1_4wsq_altA_chainA_reduced.mol2',
 '/Users/dominique/Documents/GitHub/ratar/docs/tutorials/../../ratar/tests/data/scpdb_1a9p1.mol2']

## Encode binding sites

In [5]:
from ratar.encoding import BindingSite

In [6]:
binding_sites = []
for path in input_path_list:
    bs = BindingSite()
    bs.from_file(path)
    binding_sites.append(bs)

pc/no/H: Number of points in N dimensions must be at least N+1. Here 3 dimensions and 3 points.
pc/z1/H: Number of points in N dimensions must be at least N+1. Here 4 dimensions and 3 points.
pc/z123/H: Number of points in N dimensions must be at least N+1. Here 6 dimensions and 3 points.

In [7]:
print(*[bs.molecule.code for bs in binding_sites])

HUMAN/AAK1_4wsq_altA_chainB 1m17_AQ4_1_site 1a5s_FIP_1_site HUMAN/AAK1_4wsq_altA_chainA_reduced 1a9p_9DI_1_site

In [8]:
# Select example binding site
bs = binding_sites[0]

In [9]:
bs.molecule.code

'HUMAN/AAK1_4wsq_altA_chainB'

In [10]:
bs.molecule.df.head()

,atom_id,atom_name,res_id,res_name,subst_name,x,y,z,charge
0,1,N,50,GLU,GLU50,6.6065,16.2524,52.3289,0.0
1,2,H,50,GLU,GLU50,6.5916,17.0425,51.6998,0.0
2,3,CA,50,GLU,GLU50,6.0516,14.9704,51.8595,0.0
3,4,HA,50,GLU,GLU50,6.5497,14.1857,52.4291,0.0
4,5,C,50,GLU,GLU50,6.3129,14.7586,50.3651,0.0

## Explore encoded binding site

### 1. Molecule code

In [11]:
bs.molecule.code

'HUMAN/AAK1_4wsq_altA_chainB'

### 2. Representatives

In [12]:
bs.representatives.ca.head()

,atom_id,atom_name,res_id,res_name,subst_name,x,y,z,charge
2,3,CA,50,GLU,GLU50,6.0516,14.9704,51.8595,0.0000
17,18,CA,51,VAL,VAL51,6.2639,13.2447,48.4843,0.0000
33,34,CA,52,LEU,LEU52,2.9511,13.9251,46.6089,0.2811
52,53,CA,53,ALA,ALA53,3.4874,11.6795,43.5791,0.2811
62,63,CA,54,GLU,GLU54,6.1879,10.0859,41.4339,0.2811

In [13]:
bs.representatives.pc.head()

,atom_id,atom_name,res_id,res_name,subst_name,x,y,z,charge,pc_type,pc_id,pc_atom_id
0,[1],[N],50,GLU,GLU50,6.6065,16.2524,52.3289,0.0,HBD,PEP_HBD_1,PEP_HBD_1_N
4,[5],[C],50,GLU,GLU50,6.3129,14.7586,50.3651,0.0,AR,PEP_AR_1,PEP_AR_1_C
5,[6],[O],50,GLU,GLU50,6.5036,15.7225,49.6244,0.0,HBA,PEP_HBA_1,PEP_HBA_1_0
13,[14],[OE1],50,GLU,GLU50,1.8947,14.5720,52.9437,-0.5,HBA,GLU_HBA_1,GLU_HBA_1_OE1
14,[15],[OE2],50,GLU,GLU50,2.1208,16.0072,54.6101,-0.5,HBA,GLU_HBA_2,GLU_HBA_2_OE2

In [14]:
bs.representatives.pca.head()

,atom_id,atom_name,res_id,res_name,subst_name,x,y,z,charge,pc_type,pc_id,pc_atom_id
0,1,N,50,GLU,GLU50,6.6065,16.2524,52.3289,0.0,HBD,PEP_HBD_1,PEP_HBD_1_N
4,5,C,50,GLU,GLU50,6.3129,14.7586,50.3651,0.0,AR,PEP_AR_1,PEP_AR_1_C
5,6,O,50,GLU,GLU50,6.5036,15.7225,49.6244,0.0,HBA,PEP_HBA_1,PEP_HBA_1_0
13,14,OE1,50,GLU,GLU50,1.8947,14.5720,52.9437,-0.5,HBA,GLU_HBA_1,GLU_HBA_1_OE1
14,15,OE2,50,GLU,GLU50,2.1208,16.0072,54.6101,-0.5,HBA,GLU_HBA_2,GLU_HBA_2_OE2

### 3. Shapes

#### Different representatives

In [15]:
bs.shapes.ca.keys()

dict_keys(['no', 'z1', 'z123'])

In [16]:
bs.shapes.pc.keys()

dict_keys(['no', 'z1', 'z123'])

In [17]:
bs.shapes.pca.keys()

dict_keys(['no', 'z1', 'z123'])

#### Spatial and physicochemical properties

At the example of the CA representatives:

- `"no"`: Only spatial properties (3D)
- `"z1"`: Spatial properties + zscale z1 (4D)
- `"z123"`: Spatial properties + zscales z1, z2, and z3 (6D)

Different number of dimensions are encoded in one or more ways:

- 3D: `3Dusr` or `3Dcsr` 
- 4D: `4Delectroshape`
- 6D: `6Dratar1`

In [18]:
bs.shapes.ca["no"].keys()

dict_keys(['3Dusr', '3Dcsr'])

In [19]:
bs.shapes.ca["z1"].keys()

dict_keys(['4Delectroshape'])

In [20]:
bs.shapes.ca["z123"].keys()

dict_keys(['6Dratar1'])

### 4. Example shape

In [21]:
# Example shape
shape = bs.shapes.ca["z123"]["6Dratar1"]

#### Reference points

In [22]:
shape.ref_points

              x          y          z        z1        z2        z3
ref1   1.026635  20.789879  36.404018 -0.256353 -0.601412 -0.359412
ref2  -1.431100  20.722500  35.543400  0.840000 -1.670000  3.710000
ref3 -13.735200   7.374000  46.750200  1.750000  0.500000 -1.440000
ref4  -2.203300  34.053900  19.721700  2.290000  0.890000 -2.490000
ref5   0.479900  26.301400  43.855800  3.980000  0.930000  1.930000
ref6   6.529300  10.560800  34.362200  2.050000 -4.060000  0.360000
ref7   0.479900  26.301400  43.855800  3.980000  0.930000  1.930000

#### Distances

In [23]:
shape.dist.head()

,dist_ref1,dist_ref2,dist_ref3,dist_ref4,dist_ref5,dist_ref6,dist_ref7
2,17.610369,19.461829,21.886155,38.365287,15.128186,18.596644,15.128186
17,15.533429,17.968464,21.590309,37.002449,17.126172,15.292595,17.126172
33,13.150071,15.532061,18.999286,34.693212,15.866824,15.007088,15.866824
52,12.027325,13.453422,18.428382,33.559322,15.787355,10.090450,15.787355
62,13.366005,15.144458,20.885963,33.511649,17.514471,8.387963,17.514471

#### Moments

In [24]:
shape.moments

                  m1        m2        m3
dist_ref1  12.860284  3.469656  2.928361
dist_ref2  13.801554  3.554174 -2.822042
dist_ref3  24.853066  8.431951 -7.225839
dist_ref4  24.161671  8.458908 -6.462486
dist_ref5  16.244512  5.027861 -3.227152
dist_ref6  17.515378  5.245757 -4.200865
dist_ref7  16.244512  5.027861 -3.227152

## Compare binding sites

### Save binding sites to file

At the moment, the `similarity` module works in bulk only with pickled binding site files. This needs to change in the future; i.e. one could think about saving all encoded binding sites in one csv file.

In [25]:
from ratar.encoding import save_binding_site

In [26]:
# Save binding sites to disc
[
    save_binding_site(bs, DATA / f'tmp/{Path(bs.molecule.code).stem}_encoding.p') 
    for bs in binding_sites
]

[None, None, None, None, None]

### Compare a pair

In [27]:
from ratar.similarity import calculate_similarity

In [28]:
calculate_similarity(
    binding_sites[0].shapes.ca["z123"]["6Dratar1"].moments, 
    binding_sites[3].shapes.ca["z123"]["6Dratar1"].moments,
    "modified_manhattan",
)

0.19798698685418054

#### Compare all-against-all

In [29]:
from ratar.similarity import get_similarity_all_against_all

In [30]:
# Get all-against-all matrices for different encoding types
encoded_molecules_path = str(DATA / 'tmp/*_encoding.p')
sim_dict = get_similarity_all_against_all(encoded_molecules_path)
sim_dict.keys()

dict_keys(['ca_no_3Dusr', 'ca_no_3Dcsr', 'ca_z1_4Delectroshape', 'ca_z123_6Dratar1', 'pca_no_3Dusr', 'pca_no_3Dcsr', 'pca_z1_4Delectroshape', 'pca_z123_6Dratar1', 'pc_no_3Dusr', 'pc_no_3Dcsr', 'pc_z1_4Delectroshape', 'pc_z123_6Dratar1'])

In [31]:
sim_dict["ca_no_3Dusr"]

,1a9p_9DI_1_site,1a5s_FIP_1_site,HUMAN/AAK1_4wsq_altA_chainB,HUMAN/AAK1_4wsq_altA_chainA_reduced,1m17_AQ4_1_site
1a9p_9DI_1_site,1.00000,0.55516,0.21281,0.33121,0.51054
1a5s_FIP_1_site,0.55516,1.00000,0.23833,0.31731,0.66890
HUMAN/AAK1_4wsq_altA_chainB,0.21281,0.23833,1.00000,0.16427,0.23324
HUMAN/AAK1_4wsq_altA_chainA_reduced,0.33121,0.31731,0.16427,1.00000,0.33186
1m17_AQ4_1_site,0.51054,0.66890,0.23324,0.33186,1.00000

### Compare pairs

In [32]:
from ratar.similarity import get_similarity_pairs

In [33]:
pairs = pd.DataFrame(
    [
        ["1a9p_9DI_1_site", "1a5s_FIP_1_site"], 
        ["1a9p_9DI_1_site", "1m17_AQ4_1_site"],
        ["1a5s_FIP_1_site", "1m17_AQ4_1_site"],
    ],
    columns=["molecule1", "molecule2"]
)
pairs

         molecule1        molecule2
0  1a9p_9DI_1_site  1a5s_FIP_1_site
1  1a9p_9DI_1_site  1m17_AQ4_1_site
2  1a5s_FIP_1_site  1m17_AQ4_1_site

In [34]:
encoded_molecules_path = str(DATA / 'tmp/%_encoding.p')
get_similarity_pairs(pairs, encoded_molecules_path)

                                 ca/no/3Dusr  ca/no/3Dcsr  \
1a9p_9DI_1_site 1a5s_FIP_1_site     0.560639     0.546604
                1m17_AQ4_1_site     0.524620     0.520997
1a5s_FIP_1_site 1m17_AQ4_1_site     0.466891     0.462862

                                 ca/z1/4Delectroshape  ca/z123/6Dratar1  \
1a9p_9DI_1_site 1a5s_FIP_1_site              0.581274          0.596283
                1m17_AQ4_1_site              0.480765          0.505084
1a5s_FIP_1_site 1m17_AQ4_1_site              0.512459          0.521030

                                 pca/no/3Dusr  pca/no/3Dcsr  \
1a9p_9DI_1_site 1a5s_FIP_1_site      0.655136      0.674092
                1m17_AQ4_1_site      0.434187      0.476644
1a5s_FIP_1_site 1m17_AQ4_1_site      0.487829      0.548480

                                 pca/z1/4Delectroshape  pca/z123/6Dratar1  \
1a9p_9DI_1_site 1a5s_FIP_1_site               0.642821           0.746879
                1m17_AQ4_1_site               0.533694           0.521060
1a5s_FIP_1_site 1m17_AQ4_1_site               0.556029           0.527537

                                 pc/no/3Dusr  pc/no/3Dcsr  ...  \
1a9p_9DI_1_site 1a5s_FIP_1_site     0.536377     0.534509  ...
                1m17_AQ4_1_site     0.659777     0.695817  ...
1a5s_FIP_1_site 1m17_AQ4_1_site     0.523552     0.528973  ...

                                 pca/no/3Dcsr/HBA  pca/no/3Dcsr/HBD  \
1a9p_9DI_1_site 1a5s_FIP_1_site          0.627895          0.414017
                1m17_AQ4_1_site          0.616379          0.620310
1a5s_FIP_1_site 1m17_AQ4_1_site          0.625956          0.423631

                                 pca/z1/4Delectroshape/AR  \
1a9p_9DI_1_site 1a5s_FIP_1_site                  0.510821
                1m17_AQ4_1_site                  0.422053
1a5s_FIP_1_site 1m17_AQ4_1_site                  0.498894

                                 pca/z1/4Delectroshape/H  \
1a9p_9DI_1_site 1a5s_FIP_1_site                 0.467688
                1m17_AQ4_1_site                 0.414979
1a5s_FIP_1_site 1m17_AQ4_1_site                 0.583163

                                 pca/z1/4Delectroshape/HBA  \
1a9p_9DI_1_site 1a5s_FIP_1_site                   0.622108
                1m17_AQ4_1_site                   0.586789
1a5s_FIP_1_site 1m17_AQ4_1_site                   0.655368

                                 pca/z1/4Delectroshape/HBD  \
1a9p_9DI_1_site 1a5s_FIP_1_site                   0.464850
                1m17_AQ4_1_site                   0.407219
1a5s_FIP_1_site 1m17_AQ4_1_site                   0.398669

                                 pca/z123/6Dratar1/AR  pca/z123/6Dratar1/H  \
1a9p_9DI_1_site 1a5s_FIP_1_site              0.613838             0.539864
                1m17_AQ4_1_site              0.422081             0.524608
1a5s_FIP_1_site 1m17_AQ4_1_site              0.450826             0.611428

                                 pca/z123/6Dratar1/HBA  pca/z123/6Dratar1/HBD
1a9p_9DI_1_site 1a5s_FIP_1_site               0.500380               0.527441
                1m17_AQ4_1_site               0.573669               0.609509
1a5s_FIP_1_site 1m17_AQ4_1_site               0.648289               0.584042

[3 rows x 44 columns]